<div class="container">
    <h2 class="text-center">Sing Up</h2>

    <form novalidate>
        <div class="col-xxs-12 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="first-name">First name:</label>
                <input id="first-name" type="text" ng-model="signUpCtrl.info.firstName" class="form-control">
            </div>
        </div>

        <div class="col-xxs-12 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="last-name">Last name:</label>
                <input id="last-name" type="text" ng-model="signUpCtrl.info.lastName" class="form-control">
            </div>
        </div>

        <div class="col-xxs-12 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="e-mail">E-mail:</label>
                <input id="e-mail" type="email" ng-model="signUpCtrl.info.eMail" class="form-control">
            </div>
        </div>

        <div class="col-xxs-12 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="phone-number">Phone number:</label>
                <input id="phone-number" type="tel" ng-model="signUpCtrl.info.phoneNumber" class="form-control">
            </div>
        </div>

        <div class="col-xxs-12 col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="menu-number">Menu number:</label>
                <input id="menu-number" type="text" ng-model="signUpCtrl.info.shortName" class="form-control">
            </div>
        </div>        
    </form>
</div>
